@import url(../fonts/fonts.css);

:root {
    --ff: "Inter Variable", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    * {
        box-sizing: border-box;
        margin: 0;
    }
}


html {
    body {
        background: var(--bg);
        color: var(--c);
        font-family: var(--ff);
    }
}
